/*	NEES Data Portal Stylesheet	*/

html, body {
	margin: 0;
	height: 100%;
	padding: 0;
	width: 100%;
}

body {
	background-color: #222;
	color: #EEE;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 12px;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
	content: '.';
	height: 0;
	visibility: hidden;
	font-size: 0;
}

#app-title {
	background-color: #06A;
	border-bottom: 3px solid #09F;
	height: 8%;
	margin-top: -3px;
	min-height: 55px;
	width: 100%;
}
#app-title h1 {
	color: #EEE;
	float: left;
	font-size: 26px;
	font-weight: normal;
	margin: 0;
	padding: 15px 25px;
	padding-bottom: 0;
}
#app-evt-table {
	border-left: 1px solid #595959;
	border-collapse: collapse;
	color: #333;
	cursor: default;
	padding: 0px 15px;
	text-align: left;
	width: 100%;
}
tr.even {
	background-color: #F0F0F0;
}
tr.odd {
	background-color: #FFF;
}
#app-evt-table tr.dataRow:hover {
	background-color: #CCC;
}
#app-evt-table thead {
	background-color: #595959; /*AAA */
	color: #CCC;
	text-align: left;
	width: 100%;
}
#app-evt-table td {
	padding: 5px;
}
#app-evt-table th {
	border-left: 1px solid #333;
	color: #DDD;
	font-weight: normal;
	padding: 5px;
}
#app-evt-table th:first-child {
	border: 0;
}
#app-grid {
	background-color: #222;
	float: left;
	height: 92%;
	overflow: auto;
	width: 35%;
}
#app-grid .toggle {
	margin-top: 1.4em;
}
#app-grid .toggle>span {
	background-color: #333;
	color: #94B6DB;
	display: block;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	padding: 2px 15px;
	margin: 0 15px;
}
#app-grid .toggle>span:before {
	background: url(../img/tango/list-add.png) no-repeat center center;
	content: " ";
	display: block;
	float: left;
	height: 16px;
	margin-right: 5px;
	margin-top: 6px;
	width: 16px;
}
#app-grid .toggle.active>span:before {
	background: url(../img/tango/list-remove.png) no-repeat center center;
}
#app-grid .toggle-target {
	background-color: #444;
	margin: 25px 15px;
	margin-top: 0;
}
#app-input {
	background-color: #444;
}
#app-input table {
	margin: auto;
	padding: 5px 5%;
	width: 90%;
}
#app-input table label {
	color: #CCC;
	float: right;
	padding-right: 5px;
}
#app-viewport {
	background-color: #CCC;
	float: right;
	height: 92%;
	width: 65%;
}


#tabView, #tabBar, .tabView {
	width: 100%;
}
.tabTitle {
	background-color: #857C5E;
	color: #543;
	float: left;
	font-weight: bold;
	height: 100%;
	line-height: 25px;
	margin-left: 5px;
	padding: 0 15px;
}
.tabTitle.active {
	background-color: #D1C394;
	color: #530;
	font-weight: bold;
}
.tabView {
}
.tabView.active {
	height: 100%;
}
#tabBar {
	background-color: #222;
	border-bottom: 2px solid #D1C394;
	padding-top: 5px;
	padding-left: 10px;
}
#table-ctrls {
	background-color: #444; /* #CCC */
	color: #FFF; /* #555 */
	height: 30px;
	line-height: 25px;
	padding: 0px 15px;
	text-align: center
}
.table-ctrl {
	cursor: default;
	float: left;
	height: 16px;
	margin-top: 4px;
	margin-left: 10px;
}
.table-ctrl.btn {
	border: 2px solid transparent;
	padding: 2px 4px;
}
.table-ctrl.btn:hover {
/* 233, 133 */
	border-top: 2px solid #777;
	border-left: 2px solid #777;
	border-right: 2px solid #333;
	border-bottom: 2px solid #333;
}
.table-ctrl.btn:active {
	border-top: 2px solid #333;
	border-left: 2px solid #333;
	border-right: 2px solid #777;
	border-bottom: 2px solid #777;
}
#table-ctrl-page {
	width: 50px;
}
#app-input input[type=text], #app-input select {
	margin: 3px 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
#app-input input[type=text] {
	border: 2px inset;
	height: 14px;
}
#app-input input[type=text]#minMag {
	float: left;
	width: 45%;
}
#app-input input[type=text]#maxMag {
	float: right;
	margin-left: 8px;
	position: relative;
	left: 4px;
	width: 45%;
}
#query-result {
	background-color: #334;
	padding: 5px 0;
	text-align: center;
}
#channel-box {
    position: absolute;
}
#channel-box table {
    border-collapse: collapse;
    border: 1px solid #333;
}
#channel-box thead tr {
    background-color: #333;
    color: #DDD;
}
#channel-box thead tr {
    border: 1px solid #111;
    border-top: 0;
    border-bottom: 0;
    padding: 10px 15px;
    text-align: left;
}
#channel-box td {
    color: #333;
    padding: 5px;
}
#channel-box tr.even {
    background-color: #F0F0F0;
}
#channel-box tr.odd {
    background-color: #FFF;
}
#channel-box thead {
    background-color: #AAA;
}
#channel-box th {
    padding: 5px;
}
.sort.desc:after {
    content: '▾';
}
.sort.asc:after {
    content: '▴';   
}